<configuration>
  <configSections>
    <section name="presenterVenues" type="System.Configuration.NameValueSectionHandler"/>
    <section name="conferenceVenues" type="System.Configuration.NameValueSectionHandler"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UW.CSE.DISC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections> 
  <!--These venues will be listed in addition to any published by the venue service -->
  <presenterVenues>
    <add key="Classroom1" value="234.4.4.4:5004"/>
    <add key="Classroom2" value="234.5.5.4:5004"/>
    <add key="Classroom3" value="234.6.6.4:5004"/>
    <add key="Classroom4" value="234.7.7.4:5004"/>
    <add key="Classroom5" value="234.8.8.4:5004"/>
  </presenterVenues>
  <conferenceVenues>
  </conferenceVenues>
  <appSettings>
    <!-- Enable logging in the app directory.-->
    <add key="WMGateway.logfile" value="true"/>
    <!-- Set a particular cname.  Default is built from the machine name.-->
    <!-- <add key="WMGateway.cname" value="fred@flintstone.org" />	-->
    <!-- Manually configure the frame rate for Screen Streaming video sources.  
		Err on the high side, but not too far on the high side because it uses some serious memory: -->
    <add key="WMGateway.ScreenStreamingFPS" value="4"/>
    <!-- Allow WMG to send CXP5 network statistics to a diagnostic service: -->
    <!-- <add key="WMGateway.DiagnosticService" value="confxp.pnw-gigapop.net"/> -->
    <!-- Allow WMG query a diagnostic service. This should be the same server as above, but with protocol scheme, port, virtualdirectory.. -->
    <!-- <add key="WMGateway.DiagnosticServiceUri" value="http://confxp.pnw-gigapop.net/diagnosticservice/"/> -->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <!--Set the default venue server here.  
  Note: the old CXP 4 default venue server is: "http://venues.conferencexp.net/venueservice/venueservice.asmx" -->
  <applicationSettings>
    <UW.CSE.DISC.Properties.Settings>
      <setting name="WMGateway_net_pnw_gigapop_confxp_venues_VenueService" serializeAs="String">
        <value>http://venues.confxp.pnw-gigapop.net/venueservice5/venueservice.asmx</value>
      </setting>
    </UW.CSE.DISC.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
